/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
background-image: url(../images/main-background.jpg);
background-repeat: repeat-xy;

    background-position: top left;
        background-attachment: fixed;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

h1 { 
	
	
	font-family: 'bleeding_cowboysregular';
	color: grey;
	font-size: 55px;
	text-shadow: 0.1em 0.1em 0.10em #000000
    letter-spacing: 4px;

}
h2 { 
	
	
	font-family: 'Cinzel', serif;
	color: grey;
	text-shadow: 0.1em 0.1em 0.10em #000000
}
h3 { 
	
	
	font-family: 'Cinzel', serif;
	color: grey;
	text-shadow: 0.1em 0.1em 0.10em #000000
}
h4 { 
	
	
	font-family: 'Cinzel', serif;
	color: grey;
	text-shadow: 0.1em 0.1em 0.10em #000000
}
h5 { 
	
	
	font-family: 'Cinzel', serif;
	color: grey;
	text-shadow: 0.1em 0.1em 0.10em #000000
}

div.logo{
	padding-top: 25px;
}

div.copy-cat{
	color: white;
}
div.sub-logo{
    
}
div.containment {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
   
}
.facebook { 
	overflow: hidden; 
	border: 0px solid #d5d5d5; 
}
.round-image {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border:8px solid #FFFFFF;
	background:rgba(227,227,227,0.0);
}
.round-bottom{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.panel{
		background:rgba(227,227,227,0.20);

}
.panel p {
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em
}

.subheader{
	color: white;
}
.framed {
	background-image: url(../images/background.png);
	background-repeat:no-repeat;
    background-position: center;
	background-size: 94%;
	padding: 50px;


}

.logo h1 {
	text-align: center;
}
.logo h2 {
	text-align: center;
	color: grey;
	text-decoration: underline;
}
.full-round{
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}
/* -----------------------------------------
   Page Name 2
----------------------------------------- */


