/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
background-image: url(../images/main-background.jpg);
background-repeat: repeat-xy;

    background-position: top left;
        background-attachment: fixed;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

h1 { 
	
	
	font-family: 'bleeding_cowboysregular';
	color: grey;
}
h2 { 
	
	
	font-family: 'bleeding_cowboysregular';
	color: grey;
}
h3 { 
	
	
	font-family: 'bleeding_cowboysregular';
	color: grey;
}
h4 { 
	
	
	font-family: 'bleeding_cowboysregular';
	color: grey;
}

div.logo{
	padding-top: 11px;
}

div.copy-cat{
	color: white;
}
div.sub-logo{
    
}
div.containment {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
   
}


.framed {
	background-image: url(../images/background.png);
	background-repeat:no-repeat;
    background-position: center;
	background-size: 94%;
	padding: 50px;
}
/* -----------------------------------------
   Page Name 2
----------------------------------------- */


